.container {
    gap: 12rem;
}

.form {
    width: 22.5rem;
}

.input {
    height: 3.125rem;
}

.input_icon {
    color: var(--secondary);
}

.form .label {
    color: var(--font-primary);
}

.terms > span {
    width: 20rem;
    font-size: 0.6rem;
}

.button {
    height: 3.125rem;
}
